:root {
    --clr-primary-400: 17 80% 55% ;
    --clr-secondary-400: 0 0% 70%;
    --clr-secondary-500: 219 29% 14%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;
  
    --ff-primary: "Barlow Semi Condensed", sans-serif;
  
    --fw-400: 500;
    --fw-700: 600;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}